@page "/category/categoryList"
@using MoneyNoteLibrary5.ViewModels;
@using MoneyNoteLibrary5.Models;
@using MoneyNoteLibrary5.Enums;
@inject IJSRuntime JS;

@if (ViewModel == null)
{
    <p>가져오는 중...</p>
}
else
{
    <div class="row">
        <div class="col-lg-3 col form-check">
            <input type="radio" id="expenseRadio" name="categoryDivision" value="expense" class="form-check-input"
                   checked="@(ViewModel.Division == MoneyEnum.MoneyCategory.Expense)"
                   @onchange="GetMainCategoryWithType" />
            <label class="form-check-label" for="expenseRadio">지출</label>
        </div>
        <div class="col-lg-3 col form-check">
            <input type="radio" id="incomeRadio" name="categoryDivision" value="income" class="form-check-input"
                   checked="@(ViewModel.Division == MoneyEnum.MoneyCategory.Income)"
                   @onchange="GetMainCategoryWithType" />
            <label class="form-check-label" for="incomeRadio">수입</label>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col">
            <div class="row">
                <div class="col">
                    <h4>상위 카테고리</h4>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>순번</th>
                                <th>내용</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < ViewModel.MainCategories.Count; i++)
                            {
                                var item = ViewModel.MainCategories[i];

                                <tr @onclick="e=> GetSubCategories(e, item)">
                                    <td>
                                        @(i+1)
                                    </td>
                                    <td>
                                        <CategoryEditor ViewModel="ViewModel" CategoryItem="item"
                                                        UpdateCategoryEvent="@UpdateMainCategory" DeleteCategoryEvent="@DeleteMainCategory" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="d-grid gap-0 col-lg-8 col">
                    <input type="text" class="form-control" placeholder="새로운 카테고리 이름을 입력하세요." @bind="ViewModel.CategoryText" />
                </div>
                <div class="d-grid gap-0 col-lg-4 col">
                    <button type="button" class="btn btn-primary" @onclick="SaveNewCategory">추가</button>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col">
            <div class="row">
                <div class="col">
                    <h4>하위 카테고리</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>순번</th>
                                <th>내용</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < ViewModel.SubCategories.Count; i++)
                            {
                                var item = ViewModel.SubCategories[i];

                                <tr>
                                    <td>
                                        @(i+1)
                                    </td>
                                    <td>
                                        <CategoryEditor ViewModel="ViewModel" CategoryItem="item"
                                                        UpdateCategoryEvent="@UpdateSubCategory" DeleteCategoryEvent="@DeleteSubCategory" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            @if (ViewModel.SelectedCategory != null && ViewModel.SelectedCategory.Id != Guid.Empty)
            {
                <div class="row">
                    <div class="d-grid gap-0 col-lg-8 col">
                        <input type="text" class="form-control" placeholder="새로운 카테고리 이름을 입력하세요." @bind="ViewModel.SubCategoryText" />
                    </div>
                    <div class="d-grid gap-0 col-lg-4 col">
                        <button type="button" class="btn btn-primary" @onclick="ViewModel.SaveSubCategory">추가</button>
                    </div>
                </div>
            }
        </div>
    </div>


    @if (ShowDeleteAlert)
    {

    }

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Launch static backdrop modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    I will not close if you click outside me. Don't even try to press escape key.^
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>

}

@code {
    public MainCategoryViewModel ViewModel { get; set; }

    public bool ShowDeleteAlert { get; set; }

    public bool IsNotEqualSelectedItemTitle(ICategory item)
    {
        return ViewModel.SelectedCategory.Title != item.Title;
    }

    protected override async Task OnInitializedAsync()
    {
        if (SharedClass.SharedUser == null)
            SharedClass.SharedUser = await SharedClass.GetUserInfo(JS);

        if (SharedClass.SharedUser != null)
        {
            ViewModel = new MainCategoryViewModel(SharedClass.SharedUser, MoneyNoteLibrary5.Enums.MoneyEnum.MoneyCategory.Expense);
            await ViewModel.Initialize();
        }
        //return base.OnInitializedAsync();
    }

    public async Task GetSubCategories(EventArgs e, MainCategory item)
    {
        await ViewModel?.GetSubCategory(item);
    }

    public async Task GetMainCategoryWithType(ChangeEventArgs e)
    {
        if (ViewModel == null)
            return;

        var valueString = e.Value.ToString();
        switch (valueString)
        {
            case "income":
                ViewModel.Division = MoneyEnum.MoneyCategory.Income;
                break;
            case "expense":
                ViewModel.Division = MoneyEnum.MoneyCategory.Expense;
                break;
            default:
                return;
        }

        await ViewModel?.Initialize();
    }

    public async Task UpdateMainCategory(ICategory item)
    {
        if (ViewModel == null)
            return;

        if (!IsNotEqualSelectedItemTitle(item))
        {
            await ViewModel?.UpdateCategory();
            return;
        }

        ViewModel.SelectedCategory = (MainCategory)item;
    }

    public async Task UpdateSubCategory(ICategory item)
    {
        await ViewModel?.UpdateSubCategory();
    }

    public async Task DeleteMainCategory(ICategory category)
    {
        // alert 띄워주기
        if (!ShowDeleteAlert)
        {
            ShowDeleteAlert = true;
            return;
        }


        // await ViewModel?.DeleteCategory();
    }

    public async Task DeleteSubCategory(ICategory category)
    {
        // alert 띄워주기
        if (!ShowDeleteAlert)
        {
            ShowDeleteAlert = true;
            return;
        }


        // await ViewModel?.DeleteCategory();
    }

    public async Task SaveNewCategory(EventArgs e)
    {
        await ViewModel?.SaveCategoryWithText();
    }
}
