@page "/money/moneywrite"
@using MoneyNoteLibrary5.ViewModels;
@using MoneyNoteLibrary5.Models;
@inject IJSRuntime JS;

<h3>MoneyWrite</h3>
@if (ViewModel == null || ViewModel.IsRunProgressRing)
{
    <h2>가져오는 중...</h2>
}
else
{
    <h4>@ViewModel.Title</h4>
    <div>
        <input type="radio" name="isIncomeRadio" value="dd" checked="@ViewModel.IsExpense" />
        <label>지출</label>
        <input type="radio" name="isIncomeRadio" value="ff" />
        <label>수입</label>
    </div>
    <div>
        <select @bind="ViewModel.SelectedBankBookId">
            @foreach (var item in BankBookViewModel.BankBooks)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div>
        <label>제목</label>
        <input type="text" @bind="ViewModel.Title" />
    </div>

    <div>
        <label>금액</label>
        <input type="number" @bind="ViewModel.MoneyText" />
    </div>

    <div>
        <label>설명</label>
        <input type="text" @bind="ViewModel.Description" />
    </div>

    <div>
        <select value="@ViewModel.MainCategoryId" @onchange="e => GetSubCategories(e)">
            @foreach (var item in ViewModel.MainCategories)
            {
                <option value="@item.Id">@item.Title</option>
            }
        </select>
    </div>

    <div>
        <select @bind="ViewModel.SubCategoryId">
            @foreach (var item in ViewModel.SubCategories)
            {
                <option value="@item.Id">@item.Title</option>
            }
        </select>
    </div>

    <div>
        <button @onclick="e => SaveMoney(e)">저장</button>
        <button @onclick="e => ModifyMoney(e)">수정</button>
        <button @onclick="e => DeleteMoney(e)">삭제</button>
    </div>
}


@code {
    public MoneyHandleViewModel ViewModel { get; set; }

    public BankBookViewModel BankBookViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (SharedClass.SharedUser == null)
            SharedClass.SharedUser = await SharedClass.GetUserInfo(JS);

        if (SharedClass.SharedUser != null)
        {
            ViewModel = new MoneyHandleViewModel(SharedClass.SharedUser);
            BankBookViewModel = new BankBookViewModel(SharedClass.SharedUser);
            await ViewModel.CategoryInitialize();
            await BankBookViewModel.GetBankBooks();
        }
        //return base.OnInitializedAsync();
    }

    public async Task GetSubCategories(ChangeEventArgs e)
    {
        ViewModel.MainCategoryId = new Guid(e.Value.ToString());
        await ViewModel.GetSubCategories();
    }

    public async Task SaveMoney(EventArgs e)
    {
        await ViewModel.SaveMoney();
    }

    public async Task ModifyMoney(EventArgs e)
    {
        await ViewModel.ModifyMoney();
    }

    public async Task DeleteMoney(EventArgs e)
    {
        await ViewModel.DeleteMoney();
    }
}
